body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/clouds.jpg);
    background-size: cover;
    color: white;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgba(5, 25, 54, 0.5);
    padding: 2em;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    position: relative;
}

.search {
    width: 100%;
    display:  flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 50%;
    height: 30px;
    margin-right: 12px;
    padding: 0.5em 1em;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: rgba(5, 25, 54, 0.2);
    font-size: 1.1rem;
    color: white;
}

input[type="text"]::placeholder {
    color: white;
    font-size: 1.1rem;
}

.submit-button {
    padding: 1em;
    border-radius: 50%;
    border: 1px solid rgba(5, 25, 54, 0.1);
    background-color: rgba(5, 25, 54, 0.2);
    cursor: pointer;
}

.submit-button:hover {
    background-color: rgba(5, 25, 54, 0.7);
}

button i {
    color: white;
    font-size: 1.25rem;
}

.city {
    width: 100%;
}

.city h2 {
    margin-bottom: 0;
}

.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.details h2 {
    font-size: 3rem;
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 2em;
    color: black;
}

.err-msg {
    height: 16px;
}